<div class="case_studies--full">
  <section class="case_studies">
    <a href="http://www.bnotions.com/casestudies/c-spire-percs/" title="C Spire PERCS">
      <div class="case_study--full ">
        <article class="case_study">
          <div class="bg_img_wrapper" style="background-image: url(http://www.bnotions.com/wp-content/uploads/2014/03/header-500px1.jpg);"></div>
          <div class="case_study--type Mobile">Results</div>
          <div class="content">
            <ul>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
            </ul>
          </div>
        </article>
      </div>
    </a>

    <a href="http://www.bnotions.com/casestudies/500px/" title="500px">
      <div class="case_study--full ">
        <article class="case_study">
          <div class="bg_img_wrapper" style="background-image: url(http://www.bnotions.com/wp-content/uploads/2014/03/header-cspire3.jpg);"></div>
          <div class="case_study--type Smart TV">Roster</div>
          <div class="content">
            <ul>
              <li>Jamie Gilgen</li>
              <li>Julia Bradley</li>
              <li>Alex Morley</li>
              <li>Ashley Barson</li>
              <li>Genevieve Krahn</li>
              <li>Nicole Mitchell</li>
              <li>Stephanie Skoreyko</li>
            </ul>
          </div>
        </article>
      </div>
    </a>

    <a href="http://www.bnotions.com/casestudies/indigo_mobile/" title="Indigo Mobile">
      <div class="case_study--full ">
        <article class="case_study">
          <div class="bg_img_wrapper" style="background-image: url(http://www.bnotions.com/wp-content/uploads/2014/03/header-indigo1.jpg);"></div>
          <div class="case_study--type Mobile">Sponsors</div>
          <div class="content">
            <ul>
              <li>Cyclepath Woodbridge</li>
              <li>Wilier</li>
              <li>Giro</li>
            </ul>
          </div>
        </article>
      </div>
    </a>
  </section>
</div>

