<div class="case_studies--full">
  <section class="case_studies">

    <a href="/results" title="Results">
      <div class="case_study--full ">
        <article class="case_study">
          <div class="bg_img_wrapper" style="background-image: url(/images/large-banner-2.jpg);"></div>
          <div class="case_study--type">Results</div>
          <div class="content">

            <ul>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
              <li>1st Championship of champions</li>
              <li>1st Universe championships</li>
            </ul>
          </div>
        </article>
      </div>
    </a>

    <a href="/roster" title="Roster">
      <div class="case_study--full ">
        <article class="case_study">
          <div class="bg_img_wrapper" style="background-image: url(/images/large-banner-3.jpg);"></div>
          <div class="case_study--type">Roster</div>
          <div class="content">
            <ul>
              <li>Jamie Gilgen</li>
              <li>Julia Bradley</li>
              <li>Alex Morley</li>
              <li>Ashley Barson</li>
              <li>Genevieve Krahn</li>
              <li>Nicole Mitchell</li>
              <li>Stephanie Skoreyko</li>
            </ul>
          </div>
        </article>
      </div>
    </a>

    <a href="/sponsors" title="sponsors">
      <div class="case_study--full ">
        <article class="case_study">
          <div class="bg_img_wrapper" style="background-image: url(/images/large-banner-4.jpg);"></div>
          <div class="case_study--type">Sponsors</div>
          <div class="content">
            <ul>
              <li>Cyclepath Woodbridge</li>
              <li>Wilier</li>
              <li>Giro</li>
            </ul>
          </div>
        </article>
      </div>
    </a>

  </section>
</div>

