Roster

<ul>
  <li>Jamie Gilgen</li>
  <li>Julia Bradley</li>
  <li>Alex Morley</li>
  <li>Ashley Barson</li>
  <li>Genevieve Krahn</li>
  <li>Nicole Mitchell</li>
  <li>Stephanie Skoreyko</li>
</ul>
